.message {
    border-radius : 10px;
    background-color: #73808d;
    color: #fff;
    padding: 10px;
    width: 45%;
    margin: auto 0 10px 0;
    font-size: 14px;
    line-height: 1.5;
    word-break: break-all;
}

.currentMessage {
    margin: 0 0 10px auto;
    background-color:#80a6df;
}

.message p:last-child {
    color: #cfd3d6;
    text-align: right;
}

.currentMessage p:last-child {
    color: #e0e2dc;
    text-align: right;
}